$black: #1C1C17;
$yellow: #F5FF6D;
$white: #E5E2DA;
$grey: #47473B;

body {
  background: $black;
}

.nav {
  padding: 30px;
  display: flex;
  justify-content: space-between;

  .globe {
    font-size: 40px;
    color: $yellow;
    display: flex;
    align-items: center;
  }

  .dropdown{ color: $yellow }

  .profile-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid $yellow;
    display:flex;
    align-items: center;
    justify-content: space-around;
  }

  p {
    padding: 0px 23px;
    border-radius: 15px;
    text-transform: uppercase;
    margin-bottom: 6px;

    &:hover {
      border: 1px solid $yellow;
    }
  }

  .links {
    color: $yellow;
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.menu-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu-item{
    display: flex;
    justify-content: space-around;
    min-width: 316px;
    max-width: 316px;
    text-decoration: none;
    /* background:#F5FF6D; */
    color: $yellow;
    padding: 29px 0px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 3px solid $yellow;
    text-transform: uppercase;
  }

  .menu-item:hover {
    background: $yellow;
    color: $black;
    font-weight:bold;
  }
}
