$black: #1C1C17;
$yellow: #F5FF6D;
$white: #E5E2DA;
$grey: #47473B;

body {
  background: #1C1C17;
}

.nav {
  padding: 30px;
  display: flex;
  justify-content: space-between;

  .globe {
    font-size: 40px;
    color: #F5FF6D;
    display: flex;
    align-items: center;
  }

  .profile-icon{
    width:50px;
    height:50px;
    border-radius:50%;
    border: 1px solid #F5FF6D;
  }
}

.menu-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu-item{
    display: flex;
    justify-content: space-around;
    min-width: 316px;
    max-width: 316px;
    text-decoration: none;
    /* background:#F5FF6D; */
    color: #F5FF6D;
    padding: 35px 0px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 3px solid #F5FF6D;
    text-transform: uppercase;
  }

  .menu-item:hover {
    background:#F5FF6D;
    color:black;
    font-weight:bold;
  }
}
