$black: #1C1C17;
$yellow: #F5FF6D;
$white: #E5E2DA;
$grey: #47473B;
$pink: #F5FF;

.report-container {
  overflow-y: scroll;
  margin-top: 200px;
  margin-left: 10%;
  width: 100%;

  .fa-circle-chevron-left {
    position: absolute;
    font-size: 30px;
    left: 10%;
    top: 20%;
  }

  i {
    color: $pink;
    margin: 0;
  }

  .form-label{ color: $pink }

  .form-control{
    border-radius: 10px;
    width: 80%;
    background: none;
    border: 1px solid $pink;
    color:white;

    &:focus {
      background:none;
      color:white;
    }
  }

  .submit {
    background: none;
    color: $pink;
    width: 20%;
    margin-left: 30%;
    padding: 10px 0;
    border-radius:25px;
    border: 1px solid $pink;
  }
}


.new-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
  }

  i {
    color: $yellow;
    padding: 10px;
    margin: 0;
  }

  a {
    margin-right: 5%;
  }

  .submit{
    background: none;
    border: 1px solid $yellow;
    width: 20%;
    padding: 10px 0;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-size: 25px;

    &:hover {
      background: none;
      color: $yellow;
    }
  }

  .form-control {
    width: 80%;
    margin: 20px auto;
    background: none;
    color: $white;
    border: 1px solid $yellow;
    padding: 10px;
    border-radius: 10px;
    /* padding: 0.75rem; */

    &:focus {
      background: none;
      color: $white;
    }
  }

  .form-label{
    color: $white;
    margin-left: 10%;
    margin-bottom: 0;
  }

  legend {
    display: none;
  }

  .video_tag_list {
    display: flex;
    justify-content: space-evenly;
  }

  .check_boxes + label {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    padding: 4px 8px;
    background-color: none;
    color: $white;
    border: 1px solid $yellow;
    margin-bottom: 20px;
  }

  .check_boxes:checked + label {
    background-color: $yellow;
    color: $black;
  }

  .form-check-input {
    display: none;
  }

  #video_video,
  #shop_photos,
  #bike_rack_photos {
    padding: 15px 5px;
  }
}

input[type='file']::file-selector-button {
  border: none;
  padding: 0.4em 0.6em;
  border-radius: 0.5em;
  background-color: $yellow;
  transition: 1s;

  &:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
    padding: 12px;
  }
}

.lanes-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;

  i {
    margin: 0;
    padding: 0;
  }

  a {
    margin: 0 3%;
  }

  .nav-div {
    display: flex;
    padding-left: 10px;
    width: 80%;
    margin: 0;
  }

  .search-input{
    background-color: $black;
    border: 1px solid $yellow;
    border-radius: 10px 0 0 10px;
    margin: 0;
    width: 80%;
    padding: 6px;
    color: $white;
    padding-left: 20px;
  }

  .fa-magnifying-glass{
    font-size: 25px;
    color: $black;
    border: 1px solid $yellow;
    padding: 6px;
    margin: 0;
    border-radius: 0px 10px 10px 0px;
  }
}
