<div class="report-container">
  <%= link_to shop_path(@shop) do %>
    <i class="fa-solid fa-circle-chevron-left fa-xl"></i>
  <% end %>

  <%= simple_form_for [@shop, @report], url: shop_shop_reports_path do |f| %>
    <%= f.input :content %>
    <%= f.submit "add report" , class:"submit"%>
  <% end %>
</div>
