<div class="report-container">
  <%= link_to bike_rack_path(@rack) do %>
    <i class="fa-solid fa-circle-chevron-left fa-xl"></i>
  <% end %>

  <%= simple_form_for [@rack, @report], url: bike_rack_bike_rack_reports_path do |f| %>
    <%= f.input :content %>
    <%= button_tag(class:"submit") do %>
      <i class="fa-solid fa-plus fa-xl"></i>
    <% end %>
  <% end %>
</div>
