<div class="report-container">
  <%= link_to video_path(@video) do %>
    <i class="fa-solid fa-circle-chevron-left fa-xl"></i>
  <% end %>

  <%= simple_form_for [@video, @report], url:  video_video_reports_path do |f| %>
    <%= f.input :content, as: :text %>
    <%= button_tag(class:"submit") do %>
      <i class="fa-solid fa-plus fa-xl"></i>
    <% end %>
  <% end %>
</div>
