<h1>MAIN MENU </h1>

<%# <h2>Racks</h2> %>
<%= link_to "Racks", bike_racks_path %>
<%# <h2>Lanes</h2> %>
<%= link_to "Lanes", lanes_path %>
<%# <h2>Shops</h2> %>
<%= link_to "Shops", shops_path %>
<%# <h2>Video</h2> %>
<%= link_to "Videos", videos_path %>
