$pink: #F5FF;
$white: #E5E2DA;
$black: #1C1C17;

.notice {
  background-color: $black;
  padding:4px 6px;
  border: 1px solid $pink;
  font-weight: bold;
  transition: all 1s ease;
}

.fade {
  opacity: 0;
}
